$bg-gray: #F7F7F7;
$gray: #c5c8cd;
$blue: #54c9f7;
$light-blue: #e7f1ff;
$green: #41a63d;
$light-green: #e2f3e3;
$orange: #fff7f0;
$pink: #ffe9eb;

$desktop: 1440px;
$tablet: 1024px;
$tablet-sm: 768px;
$phone: 500px;
$phone-sm: 360px;